
@{
    ViewData["Title"] = "AboutUs";
}

<body>
    <div id="about" class="container-fluid wow fadeIn" id="about" data-wow-duration="1.5s">
        <div class="row">
            <div class="col-lg-6 has-img-bg"></div>
            <div class="col-lg-6">
                <div class="row justify-content-center">
                    <div class="col-sm-8 py-5 my-5">
                        <h2 class="mb-4">درباره ما</h2>
                        <p>
                            درباره ما
                        </p>
                        <p><b>درباره شما</b></p>
                        <p>درباره ما 2</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

