@model User
@{
    ViewData["Title"] = "رزرو میز";
}

<div class="container-fluid has-bg-overlay text-center text-light has-height-lg middle-items" id="book-table">
    <div class="">
        <h2 class="section-title mb-5">رزرو میز</h2>
        <div class="row mb-5">
            <div class="col-sm-6 col-md-3 col-xs-12 my-2">
                <input type="time" id="booktable" class="form-control form-control-lg custom-form-control" placeholder="ساعت">
            </div>

            <div class="col-sm-6 col-md-3 col-xs-12 my-2">
                <input type="date" id="booktable" class="form-control form-control-lg custom-form-control" placeholder="تاریخ">
            </div>

            <div class="col-sm-6 col-md-3 col-xs-12 my-2">
                <input type="number" id="booktable" class="form-control form-control-lg custom-form-control" placeholder="شماره میز" max="20" min="0">
            </div>

            <div class="col-sm-6 col-md-3 col-xs-12 my-2">
                <input type="number" id="booktable" class="form-control form-control-lg custom-form-control" placeholder="تعداد میهمان" max="20" min="0">
            </div>
        </div>
        <a href="#" class="btn btn-lg btn-primary" id="rounded-btn">رزرو میز</a>
    </div>
</div>

